Repository m-thenot/stockline-test: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, frontend-lint-staged

.pre-commit-config.yaml:

repos:
  # ---- Backend (Python) ----
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.6
    hooks:
      - id: ruff
        args: [--fix]
        files: ^backend/.*\.py$
      - id: ruff-format
        files: ^backend/.*\.py$

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -lc 'cd backend && uv run mypy app'
        language: system
        pass_filenames: false
        files: ^backend/.*\.py$

  - repo: local
    hooks:
      - id: frontend-lint-staged
        name: lint-staged (frontend)
        entry: bash -lc 'cd frontend && pnpm lint-staged'
        language: system
        pass_filenames: false
        files: ^frontend/

feat: create local db repositories
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/lib/db/index.ts
  frontend/src/lib/db/models.ts
  frontend/src/lib/db/repositories/PreOrderFlowRepository.ts
  frontend/src/lib/db/repositories/PreOrderRepository.ts
  frontend/src/lib/db/repositories/index.ts
  frontend/src/lib/db/repository.ts
  frontend/src/lib/utils/uuid.ts
  frontend/tsconfig.tsbuildinfo
Due: frontend-lint-staged

feat: push preorde to local db and synchronize with the server
  frontend/src/app/providers.tsx
  frontend/src/hooks/use-recap.ts
  frontend/src/lib/db/repositories/PreOrderFlowRepository.ts
  frontend/src/lib/sync/PushService.ts
  frontend/src/lib/sync/SyncManager.ts
  frontend/src/lib/sync/index.ts
  frontend/src/lib/sync/types.ts
  frontend/src/lib/utils/logger.ts
Due: frontend-lint-staged

feat: display connection status
  frontend/src/components/layout/sidebar.tsx
  frontend/src/hooks/use-sync-status.ts
  frontend/src/lib/sync/SyncManager.ts
Due: frontend-lint-staged

feat: load inital snapshot in localdb
  backend/app/main.py
  backend/app/routes/sync.py
  backend/app/schemas.py
  frontend/src/hooks/use-sync-status.ts
  frontend/src/lib/api.ts
  frontend/src/lib/db/index.ts
  frontend/src/lib/db/models.ts
  frontend/src/lib/db/repository.ts
  frontend/src/lib/sync/PullService.ts
  frontend/src/lib/sync/SyncManager.ts
  frontend/src/lib/sync/index.ts
  frontend/src/lib/sync/types.ts
Due: mypy, frontend-lint-staged

feat: always get data from localdb
  frontend/src/app/providers.tsx
  frontend/src/hooks/use-partners.ts
  frontend/src/hooks/use-products.ts
  frontend/src/hooks/use-recap.ts
  frontend/src/hooks/use-units.ts
Due: frontend-lint-staged

feat(backend): create sync push route
  backend/app/models.py
  backend/app/repositories/__init__.py
  backend/app/repositories/operation_log_repository.py
  backend/app/repositories/pre_order_repository.py
  backend/app/routes/pre_orders.py
  backend/app/routes/sync.py
  backend/app/schemas.py
  backend/app/services/__init__.py
  backend/app/services/conflict_resolver.py
  backend/app/services/pre_order_sync_service.py
  backend/app/services/sync_push_service.py
Due: mypy

feat: sync push endpoint and conflict resolver
  backend/app/models.py
  backend/app/repositories/operation_log_repository.py
  backend/app/seed.py
  backend/app/services/conflict_resolver.py
  backend/app/services/pre_order_sync_service.py
  frontend/src/app/providers.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/db/index.ts
  frontend/src/lib/db/repository.ts
  frontend/src/lib/sync/PushService.ts
  frontend/src/lib/sync/types.ts
Due: mypy, frontend-lint-staged

feat: coalesce redundant operations before pushing to server
  frontend/src/lib/sync/PushService.ts
Due: frontend-lint-staged

feat: add pull incremental
  backend/app/routes/sync.py
  backend/app/schemas.py
  backend/app/services/event_broadcaster.py
  backend/app/services/sync_push_service.py
  frontend/src/lib/api.ts
  frontend/src/lib/sync/PullService.ts
  frontend/src/lib/sync/PushService.ts
  frontend/src/lib/sync/SSEService.ts
  frontend/src/lib/sync/SyncManager.ts
  frontend/src/lib/sync/index.ts
  frontend/src/lib/sync/types.ts
Due: mypy, frontend-lint-staged

feat: invalid cache on sync from server
  frontend/src/app/providers.tsx
  frontend/src/lib/sync/PullService.ts
  frontend/src/lib/sync/QueryInvalidator.ts
Due: frontend-lint-staged

feat: handle preorder flow update
  backend/app/models.py
  backend/app/repositories/pre_order_flow_repository.py
  backend/app/services/pre_order_flow_sync_service.py
  backend/app/services/sync_push_service.py
Due: mypy

feat: add retry for push service
  frontend/src/lib/db/index.ts
  frontend/src/lib/db/models.ts
  frontend/src/lib/sync/PushService.ts
  frontend/src/lib/sync/SyncManager.ts
  frontend/src/lib/sync/types.ts
Due: frontend-lint-staged

feat: refactor sync service and create unit tests
  backend/app/di.py
  backend/app/domain/__init__.py
  backend/app/domain/repositories.py
  backend/app/repositories/pre_order_flow_repository.py
  backend/app/repositories/pre_order_repository.py
  backend/app/routes/sync.py
  backend/app/services/base_entity_sync_service.py
  backend/app/services/pre_order_flow_sync_service.py
  backend/app/services/pre_order_sync_service.py
  backend/app/services/sync_push_service.py
  backend/pyproject.toml
  backend/tests/__init__.py
  backend/tests/fake_repositories.py
  backend/tests/test_conflict_resolver.py
  backend/tests/test_pre_order_flow_sync_service.py
  backend/tests/test_pre_order_sync_service.py
  backend/uv.lock
Due: mypy

feat: setup tests on frontend
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/__tests__/mocks/api.mock.ts
  frontend/src/__tests__/mocks/logger.mock.ts
  frontend/src/__tests__/mocks/syncdb.mock.ts
  frontend/src/__tests__/setup.ts
  frontend/src/__tests__/unit/sync/PushService.test.ts
  frontend/src/lib/db/index.ts
  frontend/src/lib/sync/PushService.ts
  frontend/vitest.config.ts
Due: frontend-lint-staged

feat: push service test
  frontend/src/__tests__/mocks/api.mock.ts
  frontend/src/__tests__/mocks/queryInvalidator.mock.ts
  frontend/src/__tests__/mocks/syncdb.mock.ts
  frontend/src/__tests__/unit/sync/PushService.test.ts
  frontend/src/lib/sync/PushService.ts
Due: frontend-lint-staged

test: add units tests for PullService
  frontend/src/__tests__/mocks/api.mock.ts
  frontend/src/__tests__/mocks/syncdb.mock.ts
  frontend/src/__tests__/unit/sync/PullService.test.ts
Due: frontend-lint-staged

test: setup e2e tests
  .gitignore
  backend/app/main.py
  frontend/package.json
  frontend/playwright.config.ts
  frontend/pnpm-lock.yaml
  frontend/src/__tests__/e2e/config.ts
  frontend/src/__tests__/e2e/helpers/DatabaseHelpers.ts
  frontend/src/__tests__/e2e/helpers/NetworkSimulator.ts
  frontend/src/__tests__/e2e/offline-online.spec.ts
  frontend/src/components/recap/add-flow-form.tsx
  frontend/src/components/recap/add-order-dialog.tsx
  frontend/src/components/recap/flow-row.tsx
  frontend/src/components/recap/order-card.tsx
  frontend/src/components/recap/partner-card.tsx
  frontend/src/components/recap/recap-view.tsx
  frontend/src/lib/sync/QueryInvalidator.ts
  frontend/vitest.config.ts
Due: mypy, frontend-lint-staged

fix: delete conflict
  backend/app/repositories/pre_order_repository.py
  backend/app/services/base_entity_sync_service.py
  frontend/src/components/recap/flow-row.tsx
  frontend/src/hooks/use-recap.ts
  frontend/src/lib/db/models.ts
  frontend/src/lib/db/repository.ts
  frontend/src/lib/sync/PullService.ts
  frontend/src/lib/sync/PushService.ts
Due: mypy, frontend-lint-staged

feat: improve ux
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/__tests__/unit/sync/PullService.test.ts
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/app/partners/page.tsx
  frontend/src/app/products/page.tsx
  frontend/src/components/layout/sidebar.tsx
  frontend/src/components/recap/order-card.tsx
  frontend/src/components/recap/partner-card.tsx
  frontend/src/components/recap/recap-view.tsx
  frontend/src/components/ui/badge.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/card.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/popover.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/components/ui/table.tsx
  frontend/src/components/ui/tabs.tsx
  frontend/src/hooks/use-sidebar-collapse.ts
  frontend/src/lib/sync/PullService.ts
  frontend/src/lib/sync/SyncManager.ts
  frontend/src/lib/sync/types.ts
  frontend/src/lib/utils/time.ts
Due: frontend-lint-staged

test: improve e2e
  frontend/src/__tests__/e2e/offline-online.spec.ts
  frontend/src/__tests__/e2e/pages/RecapPage.ts
  frontend/src/app/partners/page.tsx
  frontend/src/app/products/page.tsx
  frontend/src/components/recap/add-order-dialog.tsx
  frontend/src/hooks/use-recap.ts
Due: frontend-lint-staged

doc: add DECISIONS file
  DECISIONS.md
Due: none
